footer {
  background: #DADADA;
  .footer-title {
    position: relative;
    margin-bottom: 2rem;
    &:after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 50px;
      height: 2px;
      top: 30px;
    }
  }
  .bottom-footer {
    background-color: #DADADA;
    color: #DADADA;
  }
  
 
.quick-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer-logo {
  width: 250px; 
  height: auto;
  display: inline-flex;
}


.quick-links a {
  text-decoration: none;
  font-size: 0.9rem;
  display: inline-block;
  padding: 0.3rem 0;
  color: #4B4B4B;
  position: relative;
  transition: color 0.3s ease-in-out;
}

.quick-links a::after {
  content: "";
  display: block;
  height: 2px;
  width: 0;
  background: #4B4B4B; 
  transition: width 0.3s ease-in-out;
  position: absolute;
  bottom: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.quick-links a:hover::after {
  width: 100%;
}

}


@media (max-width: 600px) {
  footer {
    text-align: center;
    
  }

  .footer-logo {
    display: inline-flex;
    justify-content: center;
    width: 200px; height: auto;
  }
}
