.navbar {
  background-color: #ffffff; /* Navbar background color */
}

.navbar-toggler {
  background: transparent; 
  border: none; 
}

.hamburger-icon {
  width: 30px;  
  height: auto; 
}

.navbar-collapse {
  transition: max-height 0.3s ease;
}

.navbar-toggler-icon {
  background-color: black; 
}

.nav-item {
  margin: 5px 0; 
}
.logoImage {
  width: fit-content;
  height: 100px;
  max-width: 400px;
  max-height: 100px;
}