
#products {
  background-color: #f8f8f8;

  width: 100%;
}

#products .section-header .section-title {
  font-size: 60px;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  color: #b8b238;
  margin-left: 180px;
}

#products .product-list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 20px;
  
}

.other-header{
font-size: 60px; text-align: left;
}
#products .product-list li {
  margin-bottom: 5px;
  font-size: 20px;
  padding-right: 0px;
  padding-bottom: 7px;
  line-height: 1.5;
}

#products .product-list.bulleted {
  list-style-type: disc;
  padding-left: 20px;
}

#products .product-list.bulleted li {
  padding-left: 0;
}

#products .image-description {
  font-family: Arial, sans-serif;
  font-weight: 900;
  color: black;
  text-align: left;
}

#products .two-column-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#products .two-column-container .text-column {
  width: 48%;
  padding: 15px;
  border-radius: 8px;
  color: black;
}

#products .two-column-container .image-column {
  width: 48%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#products .two-column-container .image-column .image-description {
  font-size: 14px;
  padding-top: 10px;
  font-weight: bold;
}

#products .three-column-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
}

#products .three-column-container .text-column h3 {
  font-size: 50px;
}

#products .three-column-container .text-column ul {
  padding-left: 10px;
}

#products .three-column-container .text-column li {
  font-size: 20px;
  padding-bottom: 7px;
  line-height: 1.5;
}

@media (max-width: 900px) {

  .container {
    padding-right: 0px;
  }
  .margin-left{
    margin-left: 0px;
  }


  #products {
    padding-top: 60px;
  }

  .section-header {
    text-align: center;

  }

  #products .section-header .section-title {
    text-align: center;
    font-size: 40px;
    display: block;
    margin: 0 0 20px;
  }

  .container{
    margin-left: 0px;
    padding-left: 0px;
  }


  .image {
    width: 75%;
    display: block;
    margin: 0 auto;
  }

  #products  .image-description{
    margin-right: 0px;
    text-align: center;
  }

  #products .two-column-container .image-column {
    align-items: center;
    text-align: center;
  }

  #products .two-column-container,
  #products .three-column-container {
    flex-direction: column;
  }

  #products .two-column-container .text-column,
  #products .two-column-container .image-column,
  #products .three-column-container .text-column {
    width: 100%;
  }

  #products .two-column-container.reverse-mobile .text-column {
    order: 1;
  }

  #products .two-column-container.reverse-mobile .image-column {
    order: 2;
  }

  #products .three-column-container .text-column {
    margin-bottom: 1rem;
  }

.other-header{
font-size: 50px; text-align: center;
}

#products .product-list {
  text-align: center;
}
}