
.about-container {
    padding-left: 40px;
    padding-right: 40px;
}

.section-subtitle {
    font-size: 20px; 
    line-height: 1.6;
    color: black; 
    text-align: justify;
    margin: 20px auto;
    padding-left: 150px; 
    padding-right: 150px;
    padding-top: 30px;
}


.section-title {
    font-size: 30px; 
    text-align: center;
    font-weight: bold;
    color: #b8b238;
}

.about-title {
    font-size: 60px;
    text-align: left;
    color: #b8b238;
    font-weight: 900;
    font-family: Arial, sans-serif;
    padding-left: 140px; 
    padding-right: 150px; 
    padding-top: 60px;
}

.vision-title, 
.mission-title {
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    color: #b8b238;
}


.vision-container{
    background-color: white;
    padding: 60px;
    margin-top: 50px;
    text-align: center;
}


.mission-container {
    padding: 50px;
    margin-top: 30px;
    text-align: center;
}

.vision-text, 
.mission-text {
    font-size: 25px; 
    line-height: 1.6;
    text-align: center;
    margin: 50px;
}

.section-header {
    width: 100%;  
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 50px;
}

.office-image {
    height: auto;
    max-height: 500px;
    width: auto;
    max-width: 600px;
}


.map-container {
    text-align: center;
    margin-top: 40px;
}

body {
    background-color: #F8F8F8 !important;
    margin: 0;
    padding: 0;
    padding-top: 100px; 
}

.map-title {
    font-size: 30px;
    font-weight: bold;
    color: #b8b238;
    margin-bottom: 20px;
}

.google-map {
    width: 100%;
    height: 600px;
    border: 0;
    border-radius: 10px;
}

@media (max-width: 992px) { 
    .about-container{
        margin-left: 0;
         padding-left: 0;
         text-align: center;
    }

    .about-title {
        font-size: 40px;
       
         padding-left: 0;
         padding-right: 0;
          text-align: center;
        
    }

    .vision-title{
         font-size: 40px;
       
         padding-left: 0;
         padding-right: 0;
          text-align: center;
          font-weight: 900;
    }

    .section-subtitle{
        font-size: 18px;
        padding-left: 20px;
        padding-right: 20px;
    }

    

    .office-image{
        width: 90%;
    }

    .vision-text {
       font-size: 25px; 
       margin: 0;
       padding-top: 20px;
    }

     .mission-text {
       font-size: 25px; 
       margin: 0;
       padding-top: 20px;
    }

      .mission-title {
       font-size: 40px; 
       font-weight: 900;
    }
    .section-header {
        margin-left: 0;
        padding-left: 0;
       
    }
}

