
.contact-container {
    padding-left: 40px;
    padding-right: 40px;
}

.contact-title {
    font-size: 60px;
    text-align: left;
    color: #b8b238;
    font-weight: 900;
    font-family: Arial, sans-serif;
    padding-left: 140px;
    padding-right: 150px;
    padding-top: 60px;
}

body {
    background-color: #F8F8F8 !important;
    margin: 0;
    padding: 0;
    padding-top: 100px; 
    
}

.contact-sub {
    text-align: left;
    color: black;
    font-family: Arial, sans-serif;
    padding-left: 145px;
    font-size: 23px;
}

.contact-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 60px;
    padding-bottom: 50px;
    gap: 40px; 
    padding-left: 150px;
    padding-right: 150px;
    
}

.contact-info {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.contact-image {
    width: 50%;
    margin-top: -80px;
    display: flex;
    justify-content: center;
}

.office-photo {
    width: 100%; 
    max-width: 300px; 
    height: auto;
    border-radius: 10px; 
}

.info-item {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info-item h4 {
    font-size: 20px;
    color: #b8b238;
    margin-bottom: 5px;
}

.info-item p {
    font-size: 18px;
    color: black;
    margin: 0;
    align-items: left;
}

.icon {
    width: 30px; 
    height: auto;
    margin-right: 20px;
}


@media (max-width: 992px) { 
    .contact-title {
        font-size: 40px;
        padding-left: 0px;
        padding-right: 0px;
        text-align: center;
    }

    .contact-sub {
         padding-left: 0px;
        padding-right: 0px;
         text-align: center;
    
    }

    .contact-content {
        flex-direction: column;
        padding-left: 30px;
        padding-right: 0;
        align-items: center;
    }

    .contact-info {
        width: 100%;
        order: 1;
    }

    .contact-image {
        width: 100%;
        margin-top: 20px;
        order: 2;
    }

    .office-photo {
        max-width: 80%;
    }
    
}
