#about {
  background-color: #f6f8fb;
}

.two-column-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 20px;
  gap: 2rem;
}

.text-column {
  flex: 1;
  margin-right: 20px;
}

.text-column .main-title {
  margin-bottom: 1rem;
 
}

.text-column .main-subtitle {
  margin-bottom: 1.5rem;
  line-height: 1.6;
  color: #1f1f1f;
}

.image-column {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.solidFeedingImage {
  width: 75%;
  max-width: 200px;
  height: auto;
  border-radius: 5px;
  display: block;
  margin-top: 0;

}

.btn {
  margin-top: 20px;
  background-color: #ffd700;
}

@media (max-width: 900px) {
  .two-column-container {
    flex-direction: column;
    align-items: stretch;
    text-align: left;
    gap: 1.5rem;
  }

  .text-column {
    margin-right: 0;
    margin-bottom: 0;
    width: 100%;
    padding: 0 1rem;
    text-align: center;
  }

  .main-subtitle{
    text-align: center;
  }

  .image-column {
    width: 100%;
    justify-content: center;
  }

  .solidFeedingImage {
    margin-top: 0;
    max-width: 90%;
  }
}
