$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';

@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/solid';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/brands';

@import './partials/header';
@import './partials/home/homeabout';
@import './partials/home/homecertificate';
@import './partials/home/homeclient';
@import './partials/footer';

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
  height: 100vh;
  font-family: 'Roboto', sans-serif;
}
.section-header {
  width: 50%;


  .solidFeedingImage {
    position: absolute;
    right: 20%;
    max-width: 200px; 
  
    transform: translateY(-80%);
    height: auto;
  }


  .section-title {
    margin-top: 4rem;
    font-weight: bold;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    position: relative;
    margin-bottom: 2rem;

  
   
   
  }
  .section-subtitle {
    max-width: 700px;
    color: #000000;
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
  
  .btn {
    background-color: #fcd100;
  }

  .center-text {
    text-align: center;
    justify-content: center;
  }
  
  .left-text {
    text-align: left;
  }
  
}
