.aboutImage {
  width: 100%;
  max-height: 300px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.two-column-container {
  display: flex; 
  justify-content: space-between; 
  align-items: flex-start; 
}

.text-column {
  flex: 1; 
  margin-right: 20px; 
}

.about-description {
  font-size: 0.9rem;
  color: #000000;
}

.image-column {
  flex: 1; 
}

.solidFeedingImage {
  width: 35%;
  height: auto; 
  border-radius: 5px; 
  margin-top: 30px;

}

.btn {
  background-color: #FFD700;
  margin-top: 20px;
}

.main-header .main-title{
  font-size: 40px; 
 
    width: 100%;
    color: #b8b238;
    font-weight: bold;
   
}

.main-subtitle {
  font-size: 20px;
    line-height: 1.6;
    color: black;
    text-align: left;
    margin: 20px auto;

    padding-top: 30px;
}