#blog {

  .blog-container{
    margin-bottom: 20px;
  }
  .section-header{
    width:100%;
    align-items: center;
  }
  
  .clientImage{
    width: 160px;
    height: 65px; 
  }

  .clientImage2{
    width: 160px;
    height: 90px; 
  }

  .clientImage3{
    width: 160px;
    height: 130px; 
  }

  .blog-container{
    background-color: white;
  }


}
